<robot name="rope"><link name="link_0"><inertial><mass value="0.05" /><inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5" /></inertial><visual><origin xyz="0 0 0.150000" rpy="0 0 0" /><geometry><cylinder length="0.300000" radius="0.010000" /></geometry><material name="green"><color rgba="0 1 0 1" /></material></visual><collision><origin xyz="0 0 0.150000" rpy="0 0 0" /><geometry><cylinder length="0.300000" radius="0.010000" /></geometry></collision><origin xyz="0 0 0" rpy="0 0 0" /></link></robot>