<?xml version="1.0"?>
<robot name="trapezium_block">
  <link name="block">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="./config/assets/trapezium.dae"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="./config/assets/trapezium.dae"/>
      </geometry>
    </collision>
  </link>

</robot>